@model Forum.Models.ForumPost

@{
    ViewData["Title"] = "Comment";
}

@{
    Model.TopicsString = "";
}

<h1>Comment</h1>

<h4>Forum</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Comment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TopicsString" class="control-label"></label>
                <textarea asp-for="TopicsString" rows="10" class="form-control"></textarea>
                <span asp-validation-for="TopicsString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Comment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>tinymce.init({ selector:'textarea' });</script>
}