@model Forum.Models.SiteData;
@using Forum.Data;

@{
    ViewData["Title"] = "Index";
    //int numUsers = Model.GetNumUsers();
}

<h1>Stats <strong>(Coming Soon)</strong></h1>

<ul>
    <li>
        <!--<strong>Number of Users:</strong> Html.DisplayFor(model => numUsers);-->
    </li>
</ul>

